<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>

<form  action="/form/" method="post" class="smart-green">

    <h1>光谱仪信息
        <span>管理系统 by smh</span>
    </h1>
    <label>
        <span>型号 :</span>
        <input id="name" type="text" name="name" value="{{ my_message.name }}" class="error" placeholder="请输入您的姓名"/>
        <div class="error-msg"></div>
    </label>

    <label>
        <span>拥有人 :</span>
        <input id="email" type="email" name="email" value="{{ my_message.email }}" placeholder="请输入邮箱地址"/>
        <div class="error-msg"></div>
    </label>

    <label>
        <span>客户 :</span>
        <input id="address" type="text" name="address" value="{{ my_message.address }}" placeholder="请输入联系地址"/>
        <div class="error-msg"></div>
    </label>

    <label>
        <span>备注信息 :</span>
        <textarea id="message" name="message"  placeholder="请输入你的建议">{{ my_message.message }}</textarea>
        <div class="error-msg"></div>
    </label>
    <div class="success-msg"></div>
    <label>
        <span>&nbsp;</span>
        <input type="submit" class="button" value="提交"/>
    </label>
     {% csrf_token %}
{#    <input type='hidden' name='csrfmiddlewaretoken' value='SfHkbL4feo1G00sJQtbO7TtLN4c2BUwa' />#}

</form>

</body>
</html>